* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(93, 129, 205);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* start css index.html */
.main{
    margin: 0 auto;
    background-color: rgb(253, 253, 233);
    min-height: 150px;
    max-height: 300px;
    min-width: 150px;
    max-width: 600px;
    
}

.main h1{
    color: rgb(188, 154, 31);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.62rem;
    text-align: center;
}

.main ul{
    padding-left: 70px;
}

.main li a{
    text-decoration: none;
    font-size: 20px ;
    font-weight: bold;
    color: black;
}


/* Menu-enhanced */
/* Menu */
.menu{
    background-color: rgb(62 92 202);
    padding: 0 60px;
    font-size: 0;

}

.menu li{
    display: inline-block;
    padding: 20px 30px;
    border-right: 2px solid black;
} 
.menu li a, .icon{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

.menu .icon{
    padding-left: 10px;
}

/* .menu .active{
    background-color: white;
}

.menu .active a{
    display: inline-block;
    color: black;
} */

.menu li:hover {
    background-color: #f3ecec;
}

.menu li:hover a{
    color: black;
}

.menu li:active {
    background-color: #b4e7ec;
}

.menu li a:active{
    color: green;
}

.menu li:last-child{
    border-right: none;
}

.menu li a::before{
    content: "\25B6";
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Form */
.form{
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    margin: 50px auto 0;
    border-radius: 50px;
    padding: 50px 30px;
    border: 2px solid black;
}

.form:focus-within{
    border: 5px solid blue;
}

.form h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: blue;
    margin-bottom: 40px;
    border-radius: 50px;
    padding: 10px 0;
    color: #fff;
}

.form-avt{
    display: block;
    text-align: center;
}

.form-avt .avt-img{
        border-radius: 50%;
        width: 150px;
}

.form-label{
    display: block;
    margin: 25px 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.forminput{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.forminput:focus{
    border: 2px solid rgb(7, 81, 81);
    outline: none;
}

.forminput:invalid{
    border: 2px solid red;;
}
.list-gender> label{
    margin-left: 20px;
}

.list-vertical label{
    display: block;
    margin: 8px 0 8px 20px;
}

.form-btn{
    padding: 10px 5px;
    width: 50%;
    display: block;
    margin: 30px auto;
    background-color: rgb(54, 191, 49);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
}

.form-btn:hover{
    background-color: green;
    color: #000;
}

.form-btn:active{
    background-color: #b89733;
    color: #fff;
}

.required::after{
    content:"*";
    margin-left: 5px;
    color: red;
}