* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(93, 129, 205);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* start css index.html */
.main{
    margin: 0 auto;
    background-color: rgb(253, 253, 233);
    min-height: 150px;
    max-height: 300px;
    min-width: 150px;
    max-width: 600px;
    
}

.main h1{
    color: rgb(188, 154, 31);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.62rem;
    text-align: center;
}

.main ul{
    padding-left: 70px;
}

.main li a{
    text-decoration: none;
    font-size: 20px ;
    font-weight: bold;
    color: black;
}


/* Menu-enhanced */
/* Menu */
.menu{
    background-color: rgb(62 92 202);
    padding: 0 60px;
    font-size: 0;

}

.menu li{
    display: inline-block;
    padding: 20px 30px;
    border-right: 2px solid black;
} 
.menu li a, .icon{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;

}

.menu .icon{
    padding-left: 10px;
}

/* .menu .active{
    background-color: white;
}

.menu .active a{
    display: inline-block;
    color: black;
} */

.menu li:hover {
    background-color: #f3ecec;
}

.menu li:hover a{
    color: black;
}

.menu li:active {
    background-color: #b4e7ec;
}

.menu li a:active{
    color: green;
}

.menu li:last-child{
    border-right: none;
}

.menu li a::before{
    content: "\25B6";
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Form */
.form{
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    margin: 50px auto 0;
    border-radius: 50px;
    padding: 50px 30px;
    border: 2px solid black;
}

.form:focus-within{
    outline: 5px solid blue;
}

.form h1{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: blue;
    margin-bottom: 40px;
    border-radius: 50px;
    padding: 10px 0;
    color: #fff;
}

.form-avt{
    display: block;
    text-align: center;
}

.form-avt .avt-img{
        border-radius: 50%;
        width: 150px;
}

.form-label{
    display: block;
    margin: 25px 0 10px;
    font-size: 20px;
    font-weight: 600;
}

.forminput{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.forminput:focus{
    border: 2px solid rgb(7, 81, 81);
    outline: none;
}

.forminput:focus:invalid{
    border: 2px solid red;;
}
.list-gender> label{
    margin-left: 20px;
}

.list-vertical label{
    display: block;
    margin: 8px 0 8px 20px;
}

.form-btn{
    padding: 10px 5px;
    width: 50%;
    display: block;
    margin: 30px auto;
    background-color: rgb(54, 191, 49);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
}

.form-btn:hover{
    background-color: green;
    color: #000;
}

.form-btn:active{
    background-color: #b89733;
    color: #fff;
}

.required::after{
    content:"*";
    margin-left: 5px;
    color: red;
}

/* pricing-table */
.container{
    max-width: 100vw;
    max-height: 100vh;
    margin: 3rem 2rem;
    background-color: #fff;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

.container h1{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #e5a80d;
    font-family: 'Times New Roman', Times, serif;
}

@supports(background-clip: text) or (-webkit-background-clip: text){
   .container h1{
        background-color: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 17%, rgba(0, 207, 252, 1) 70%, rgba(0, 212, 255, 1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.pricing{
    max-width: 100%;
    font-size: 0;
}

.card{
    display: inline-block;
    width: calc((100% - 2rem ) / 3);
    font-size: 1.4rem;
    vertical-align: top;
    padding: 1rem;
    border: 1px solid black;
    min-height: 21rem;
    margin: 15px 1rem 15px 0;
    border-radius: 15px;
    
}

.card:last-child{
    margin-right: 0;
}

.badge{
    padding: 5px 10px;
    display: inline-block;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 0.5) 0%, rgba(87, 199, 133, 0.5) 33%, rgba(237, 221, 83, 0.5) 100%);    
}

h2.cost{
    margin-bottom: 0.5rem;
}

.cost span{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

.desc{
    margin: 1rem 0;
}

.card .btn{
    text-align: center;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 10px;
    font-weight: 600;
    background-color: #e8e6e6;
}
.features{
    margin: 0.5rem 0 2rem 2rem;
    list-style: none;
}

.features li{
    margin: 0.1rem 0;
    color: #5e5d5d;
}
.card:nth-child(2){
    box-shadow: 0 15px 20px rgba(15, 192, 89, 0.6);
    transform: translateY(-10px);
    border: 2px solid green;
}

.card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.features li::before{
    content: "✓";
    padding-right: 0.5rem;
}

/* blog-post */
.container-blog{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 4rem;
}

.container-blog h1{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #e5a80d;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.5rem 0;
}

@supports(background-clip: text) or (-webkit-background-clip: text){
   .container-blog h1{
        background-color: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 17%, rgba(0, 207, 252, 1) 70%, rgba(0, 212, 255, 1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.image{
    width: 100%;
    height: 40rem;
    box-shadow: 0 15px 20px rgba(13, 14, 13, 0.4);
    border-radius: 15px;
}

.image img{
    height: 35rem;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px;
}

.image figcaption{
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    color: #3e3d3d;
    font-style: italic;
}

.content p, ul{
    margin: 0.5rem 0;
    line-height: 1.6;
    font-size: 1.6rem;
}

.introduce p{
    padding: 0;
}

.introduce p:first-child::first-letter {
  font-size: 300%;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin-right: 8px;
}

.content-box{
    margin: 2rem 1rem;
}

.content-box h2, .comment h2{
    font-size: 2rem;
    font-weight: 600;

}

.content-box li{
    margin-left: 4rem;
}

.comment::before{
    display: inline-block;
    content: "";
    border-top: 3px solid black;
    width: 100%;
    margin-bottom: 1rem;
}

.comment-box:nth-of-type(odd){
    background-color: rgba(170, 227, 251, 0.3);
}
 .comment-box{
    font-size: 1.6rem;
    margin: 1rem;
    line-height: 1.6;
    display: inline-block;
    border-radius: 15px;
    padding: 1rem;
 }

 .comment-box h3{
    display: inline;
    font-weight: 500;
 }

 .comment-box span{
    font-style: italic;
 }

 .comment-box:hover{
    background-color: #686868;
    color: white;
 }
 .content p::first-line {
  text-decoration: underline;
  background-color: rgb(213, 251, 213);
}

.container-blog::selection {
  color: rgb(247, 11, 11);
  background: rgb(237, 250, 190);
}

.content-box blockquote{
    font-size: 1.6rem;
    font-style: italic;
    color: #323030;
    padding: 0 0.5rem;
    line-height: 1.4;
}

blockquote::before{
    content: "\201C";
    color: black;
    font-size: 3rem;

}

.container-blog :is(h2, h3):not(h1){
    color: rgb(246, 102, 13);
}